{{!< default}}

<nav class="gr-nav">
    <a href="{{@blog.url}}">
        <img class="gr-nav__logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
        <span class="gr-nav__name">{{@blog.title}}</span>
    </a>
</nav>

<main role="main">
    {{> "loop"}}
</main>
