html,
body {
    color: $color-primary-foreground;
    font-family: $font-family-primary;
    font-size: $font-size-primary;
    line-height: 1.5;
}

a {
    color: $color-primary-foreground;
    text-decoration: none;

    &:active,
    &:hover {
        color: $color-brand-foreground;
    }
}

pre,
code {
    font-family: $font-family-mono;
    font-size: 0.875rem;
    line-height: 1.2;
}

pre {
    background: $smoke-light;
    border-radius: 5px;
    border: 1px solid $color-primary-outline;
    overflow-x: auto;
    padding: $bm-l;
}
