html,
body {
    color: $color-primary-foreground;
    font-family: $font-family-primary;
    font-size: $font-size-primary;
    font-weight: $font-weight-light;
    line-height: 1.5;
}

a {
    color: $color-primary-foreground;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $color-brand-foreground;
    }
}
