.gr-hero {
    background-size: cover;
    padding: ($bm-xxxl * 3) 0 ($bm-xxxl * 1.5);
    position: relative;
    text-align: center;

    @include media($tablet) {
        padding: ($bm-xxxl * 4) 0 ($bm-xxxl * 2);
    }

    &--fs {
        padding: ($bm-xxxl * 3) 0;

        @include media($tablet) {
            padding: ($bm-xxxl * 4) 0;
        }
    }

    a {
        color: inherit;
    }

    &__cover,
    &__overlay {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__overlay {
        background: rgba(255, 255, 255, 0.8);
    }

    &__description {
        text-align: left;
        white-space: pre-line;
        width: 90%;

        &-text {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    &__page,
    &__post {
        @include outer-container();

        position: relative;
        z-index: 99;
    }

    &__tags {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2;
        margin: $bm-l 0;
        padding: 0 $bm-xxl;
        text-transform: uppercase;

        @include media($tablet) {
            @include shift(2);
            @include span-columns(8);

            font-size: 3rem;
            padding: 0;
        }
    }

    &__text {
        font-family: $font-family-secondary;
        padding: 0 $bm-xxl;
        font-size: 1rem;
        text-align: center;

        @include media($tablet) {
            @include shift(2);
            @include span-columns(8);

            font-size: 1.125rem;
            padding: 0;
        }
    }

    &__author {
        @include span-columns(12);
        @include omega();

        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;

        a {
            font-weight: 600;
        }

        &-image {
            img {
                height: 4rem;
                width: auto;
                border-radius: 50%;
            }
        }

        &-name {
            margin-top: $bm-l;
        }

        &-info {
            color: $color-secondary-foreground;
            font-size: 0.75rem;
            margin-bottom: $bm-l;
            text-transform: uppercase;

            @include media($tablet) {
                @include shift(2);
                @include span-columns(8);
            }

            span + span {
                &::before {
                    content: "| ";
                }
            }
        }

        &-bio {
            font-family: $font-family-secondary;
            padding: 0 $bm-xxl;
            font-size: 1rem;
            text-align: left;

            @include media($tablet) {
                @include shift(2);
                @include span-columns(8);

                font-size: 1.125rem;
                padding: 0;
                text-align: center;
            }
        }
    }
}
