.gr-footer {
    background: $color-secondary-background;
    border-top: 1px solid $color-primary-outline;
    text-transform: uppercase;

    hr {
        background-color: $color-primary-outline;
        border: none;
        color: $color-primary-outline;
        height: 1px;
        margin: 0;
    }

    &__brand {
        @include outer-container();

        padding: $bm-l 0;

        @include media($tablet) {
            padding: 0;
        }
    }

    &__brand-logo,
    &__brand-nav,
    &__brand-social {
        padding: $bm-l;
        text-align: center;

        @include media($tablet) {
            @include span-columns(4);

            padding: $bm-xxxl;
        }

        @include media($desktop) {
            padding: $bm-xxxl 0;
        }
    }

    &__brand-logo {
        @include media($tablet) {
            text-align: left;
        }

        img {
            height: 4rem;
        }
    }

    &__brand-nav {
        text-align: center;

        @include media($tablet) {
            text-align: left;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            color: $color-secondary-foreground;
            display: block;
            font-size: 0.75rem;

            a {
                color: inherit;

                &:active,
                &:focus,
                &:hover {
                    color: $color-brand-foreground;
                }
            }
        }
    }

    &__brand-header {
        margin-bottom: $bm-m;
    }

    &__brand-social {
        @include media($tablet) {
            text-align: right;
        }
    }

    &__brand-social-list {
        margin: 0;
        padding: 0;
    }

    &__brand-social-list-item {
        display: inline-block;
        list-style: none;

        img {
            height: 2rem;
            width: auto;
        }
    }

    &__copyright {
        @include outer-container();

        color: $color-secondary-foreground;
        font-size: 0.75rem;
        padding: $bm-xxl;
        text-align: center;

        a {
            color: inherit;

            &:active,
            &:focus,
            &:hover {
                color: $color-brand-foreground;
            }
        }
    }

    &__poweredby {
        display: block;

        @include media($tablet) {
            display: inline;
        }
    }
}
