.gr-articles {
    @include outer-container();

    &__item {
        margin-bottom: $gutter;
        position: relative;

        @include media($tablet) {
            @include span-columns(6);
            @include omega(2n);
        }
    }

    &__item-post {
        padding: $bm-xxl;
        margin-bottom: $gutter;
        position: relative;
        text-align: center;
        z-index: 99;
    }

    &__item-tags {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__item-title {
        font-size: 1.5rem;
        line-height: 1.2;
        margin: $bm-l 0;
        text-transform: uppercase;

        @include media($tablet) {
            font-size: 2rem;
            padding: 0;
        }
    }

    &__item-author {
        color: $color-secondary-foreground;
        font-size: 0.75rem;
        margin-bottom: $bm-l;
        text-transform: uppercase;

        a {
            color: inherit;

            &:hover {
                color: $color-brand-foreground;
            }
        }
    }

    &__item-excerpt {
        font-family: $font-family-secondary;
        font-size: 0.875rem;
        line-height: 1.9;
        text-align: left;
    }
}
